[submodule "open-absinthe"]
	path = open-absinthe
	url = git@github.com:OpenBubbles/OpenAbsinthe-Stub.git
[submodule "apple-private-apis-1"]
	path = apple-private-apis
	url = https://github.com/SirStoke/apple-private-apis.git
